<div class="hidden-meta" data-gsn-title="{{ChainName}}"></div>
<div class="hidden-meta" data-gsn-meta-description="Shop for groceries with our meal planning solutions, save hundreds of dollars with printable coupons and find all recipes and meal ideas."></div>
<div class="hidden-meta" data-gsn-meta-keywords="Weekly Specials, Recipes, Coupons, Meal Planning, Cooking Videos, Low Prices, Shop Online"></div>
<div class="hidden-meta" data-gsn-meta-google-site-verification="PPfVAA9krD4cr38f2dYu6zlqC2mMstxhO3RVxhdyQDI"></div>

<!-- Header -->
<div class="header container" data-ng-include="getContentUrl('/views/layout-header.html')"></div>

<!-- Main Content-->
<div class="container mainContent" data-ng-view=""></div>

<!-- Footer -->
<div class="footer container"  data-ng-include="getContentUrl('/views/layout-footer.html')"></div>
