<div class="hidden" data-ng-give-head="link" data-attributes="{ 'href': getContentUrl('/styles/app4.css'), 'rel' : 'stylesheet' }"></div>
<div class="hidden-meta" data-gsn-title="{{ChainName}}"></div>
<div class="hidden-meta" data-gsn-meta-description="Shop for groceries with our meal planning solutions, save hundreds of dollars with printable coupons and find all recipes and meal ideas."></div>
<div class="hidden-meta" data-gsn-meta-keywords="Weekly Specials, Recipes, Coupons, Meal Planning, Cooking Videos, Low Prices, Shop Online"></div>
<div class="hidden-meta" data-gsn-meta-google-site-verification="PPfVAA9krD4cr38f2dYu6zlqC2mMstxhO3RVxhdyQDI"></div>
<!-- Header -->
<div class="header container container-full" data-ng-include="getThemeUrl('/views/layout4/layout-header.html')"></div>
<!-- Main Content-->
<div class="container mainContent container-full" data-ng-view=""></div>
<!-- Footer -->
<div class="footer container container-full"  data-ng-include="getThemeUrl('/views/layout4/layout-footer.html')"></div>